.button_btn {
    width: 100%;
    background-color: var(--primary);
    border-radius: 16px;
    padding: 14px 24px;
    text-align: center;
    color: white;
    font-weight: 500;
    font-size: 16px;
    cursor: pointer;
    border: 0;
}