.crud_container {
    width: calc(100% - 350px);
    height: 100%;
}
.add_btn {
    background-color: var(--primary);
    border-radius: 100%;
    color: white;
    position: fixed;
    right: 20px;
    bottom: 20px;
    padding: 10px;
    font-size: 26px;
    cursor: pointer;
}