/* SnackBar.css */
.snackBar {
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 30px;
    padding: 12px 20px;
    right: 0px;
    background-color: var(--primary);
    color: #fff;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    gap: 8px;
    border-radius: 10px;
    transition: transform 0.2s ease-in-out;
    z-index: 10;
    transform: translateX(100%)
  }
  
  .snackBar.show {
    transform: translateX(-10%);
  }
  
  .snackBar.error {
    background-color: #c53030;
  }
  
  .snackBar .icon {
    cursor: pointer;
  }
  
  .snackBar .message {
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    text-transform: capitalize;
  }
  